<div class="container-fluid p-0">
    <div class="login-wrapper">
      <div class="login-container">
        <div class="login-left">
          <div class="content-left">
            <div class="logo">
              <img src="/assets/images/logo.svg"/>
            </div>
            <div class="welcome">
              <h1 class="font-600">Welcome Back!</h1>
              <p>To keep contacted with us please login or create new account.</p>
            </div>
          </div>
          <div class="footer">
            <div>© 2022 Aero Club Solutions INC. All rights reserved.</div>
          </div>
        </div>
        <div class="login-right-wrapper">
          <div class="lan-translate">
            <div>Translate</div>
          </div>
          <div class="login-info sign-up">
            <div class="col-md-12">
              <div class="greeting-text">
                <h1 class="font-600">Hello,</h1>
                <p>Enter your details and start journey with us</p>
              </div>
            </div>
            <div class="login-form">
              <form [formGroup]='registrationForm'  (ngSubmit)="register()">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Agent Name<span class="compulsory">*</span></label>
                      <app-text-input [formControl]='registrationForm.controls["agentName"]' [label]='"agent name"' [tabindex] ="1" >
                      </app-text-input>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Username<span class="compulsory">*</span></label>
                      <app-white-space-input [formControl]='registrationForm.controls["userName"]' [label]='"username"' [tabindex] ="2">
                      </app-white-space-input>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Email<span class="compulsory">*</span></label>
                      <app-text-input [formControl]='registrationForm.controls["email"]' [type]="'email'" [label]='"email"' [tabindex] ="3">
                      </app-text-input>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Primary Telephone Number<span class="compulsory">*</span></label>
                      <app-text-input [formControl]='registrationForm.controls["primaryTelephoneNumber"]' [type]="'number'" [label]='"primary telephone number"' [tabindex] ="4">
                      </app-text-input>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Secondary Telephone Number</label>
                      <app-text-input [formControl]='registrationForm.controls["secondaryTelephoneNumber"]' [type]="'number'" [label]='"secondary telephone number"' [tabindex] ="5">
                      </app-text-input>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Cargo Account Number</label>
                      <app-text-input [formControl]='registrationForm.controls["cargoAccountNumber"]' [label]='"cargo account number"' [tabindex] ="6">
                      </app-text-input>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Address<span class="compulsory">*</span></label>
                      <app-text-input [formControl]='registrationForm.controls["address"]' [label]='"address"' [tabindex] ="7">
                      </app-text-input>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Country<span class="compulsory">*</span></label>
                      <app-auto-complete-dropdown
                          [data] = "countryList" [keyword] ="keyword" (selectFileOutput)="selectedCountry($event)" [tabindex] ="8"
                          (changeSearch)="onClearCountry()" (clearSearch)="onClearCountry()"></app-auto-complete-dropdown>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">City<span class="compulsory">*</span></label>
                      <app-text-input [formControl]='registrationForm.controls["city"]' [label]='"city"' [tabindex] ="9">
                      </app-text-input>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Base Airport<span class="compulsory">*</span></label>
                      <app-auto-complete-dropdown [data]="baseAirpots" [keyword]="keyword" [tabindex]="10"
                      (selectFileOutput)="selectedBaseAirport($event)" (changeSearch)="onClearBaseAirport()"
                      (clearSearch)="onClearBaseAirport()"></app-auto-complete-dropdown>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Agent IATA Code</label>
                      <app-text-input [formControl]='registrationForm.controls["agentIATACode"]' [label]='"agent IATA code"' [tabindex] ="11">
                      </app-text-input>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="form-label">Password<span class="compulsory">*</span></label>
                      <app-white-space-input [formControl]='registrationForm.controls["password"]' [type]="'password'" [label]='"password"' [tabindex] ="12">
                      </app-white-space-input>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">                    
                      <label class="form-label">Re-Enter Password<span class="compulsory">*</span></label>
                      <app-white-space-input [formControl]='registrationForm.controls["confirmPassword"]' [type]="'password'" [label]='"re-enter password"' [tabindex] ="13">
                      </app-white-space-input>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div>
                      <a href="account">Back to Sign In</a>
                    </div>
                  </div>
                  <div class="col-md-6 text-end">
                    <button class="btn btn-secondary-outline me-3" (click)="cancelSignUp()">Cancel</button>
                    <button class="btn btn-primary-outline" type="submit">Sign Up</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



