/* component.css */
.scroll-container {
    width: screen; /* Set a specific width or max-width to control the container size */
    height: 650px; /* Set a specific height to control the container size */
    overflow: auto; /* Add scrollbars when content overflows the container */
  }
  