<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div><h1>Notifications</h1></div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="notifi-block">
            <div class="notifi-section">
                <div class="notifications-filters">
                    <div class="cu-check">
                        <label class="cu-checkbox">All
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="cu-check">
                        <label class="cu-checkbox">Read
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="cu-check">
                        <label class="cu-checkbox">Unread
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="notifi-action">
                    <i class="ca ca-icn-bin" title="Delete"></i>
                </div>
            </div>
            <div class="link">
                <button class="btn">Mark All As Read</button>
            </div>
        </div>
        <div class="notifi-list">
            <div class="notifi-info">
                <div class="notification-content unread">
                    <div class="content-block">
                        <div class="notifi-icon">
                            <i class="ca ca-icn-bell notifiicon success"></i>
                        </div>
                        <div class="notifi-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. ...</p>
                            <div class="date-time-block">
                                <div class="date-time">
                                    <span>25/5/2022</span>
                                    <span>10:30 AM</span>
                                </div>
                                <div class="button">
                                    <button class="btn">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notification-content read">
                    <div class="content-block">
                        <div class="notifi-icon">
                            <i class="ca ca-icn-bell notifiicon complete"></i>
                        </div>
                        <div class="notifi-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. ...</p>
                            <div class="date-time-block">
                                <div class="date-time">
                                    <span>25/5/2022</span>
                                    <span>10:30 AM</span>
                                </div>
                                <div class="button">
                                    <button class="btn">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="notification-content unread">
                    <div class="content-block">
                        <div class="notifi-icon">
                            <i class="ca ca-icn-bell notifiicon warning"></i>
                        </div>
                        <div class="notifi-content">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                            <p class="content">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. ...</p>
                            <div class="date-time-block">
                                <div class="date-time">
                                    <span>25/5/2022</span>
                                    <span>10:30 AM</span>
                                </div>
                                <div class="button">
                                    <button class="btn">View</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
