@mixin inputField($height: 2.5rem) {
  width: 100%;
  height: $height;
  color: $font-color;
  border-color: $input-border;
}

@mixin modalwidth($max-width: 62.5rem) {
  width: $max-width;
  height: 100%;
}

@mixin detailsgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  .lable {
    color: $gray;
  }
}

@mixin customScrollbar($width: 10px) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: $white-blue;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-gray;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    &:hover {
      background-color: $light-gray;
    }
  }
}

@mixin status-lable {
  padding: 00.188rem 0.625rem;
  background-color: $default-white;
  border-radius: 3.125rem;
  border: 0.063rem solid;
}



@mixin awb-lable-color {
  @include status-lable;
  &.added { 
    border-color: $green;
    color: $green;
  }
  &.pending  {
    border-color: $brand-primary;
    color: $brand-primary;
  }
  &.none  {
    border-color: $gray;
    color: $gray;
  }
}

@mixin lable-color {
  @include status-lable;
  &.accepted-for-flight { 
    border-color: #32CD32; // AcceptedForFlight (Lime Green)
    color: #32CD32;
    border-width: 1px; // You can adjust this value as needed
  }
  &.offloaded  {
    border-color: #1E90FF; // Offloaded (Dodger Blue)
    color: #1E90FF;
    border-width: 1px; // You can adjust this value as needed
  }
  &.flight-dispatched {
    border-color: #BA55D3; // FlightDispatched (Medium Orchid)
    color: #BA55D3;
    border-width: 1px; // You can adjust this value as needed
  }
  &.in-destination-warehouse {
    border-color: #FF8C00; // InDestinationWarehouse (Dark Orange)
    color: #FF8C00;
    border-width: 1px; // You can adjust this value as needed
  }
  &.arrived  {
    border-color: #FFD700; // Arrived (Gold)
    color: #FFD700;
    border-width: 1px; // You can adjust this value as needed
  }
  &.cargo-received  {
    border-color: #556B2F; // Cargo_Received (Olive Drab)
    color: #556B2F;
    border-width: 1px; // You can adjust this value as needed
  }
  &.pending  {
    border-color: #4169E1; // Pending (Royal Blue)
    color: #4169E1;
    border-width: 1px; // You can adjust this value as needed
  }
  &.none  {
    border-color: #696969; // None (Dim Gray)
    color: #696969;
    border-width: 1px; // You can adjust this value as needed
  }
  &.returned {
    border-color: #DC143C; // Returned (Crimson)
    color: #DC143C;
    border-width: 1px; // You can adjust this value as needed
  }
  &.truck-for-delivery  {
    border-color: #A0522D; // TruckForDelivery (Sienna)
    color: #A0522D;
    border-width: 1px; // You can adjust this value as needed
  }
  &.delivered  {
    border-color: #228B22; // Delivered (Forest Green)
    color: #228B22;
    border-width: 1px; // You can adjust this value as needed
  }
}


@mixin notification-icon {
  border-radius: 100%;
  padding: 1rem;
  font-size: 1.563rem;
}
@mixin notifi-color {
  @include notification-icon;
  &.success {
    color: $brand-primary;
    background-color: $light-primary;
  }
  &.complete {
    color: $green;
    background-color: $light-green;
  }
  &.warning {
    color: $orange;
    background-color: $light-orange;
  }
} 


@mixin respond-to($media) {
  @if $media == mobileS {
    @media only screen and (max-width: 415px) {
      @content;
    }
  }

  @if $media == mobile {
    @media only screen and (max-width: 568px) {
      @content;
    }
  }
  @else if $media == phablet {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @else if $media == tabS {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }
  @else if $media == tab {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  }
  @else if $media == tabDektop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @else if $media == aboveTabDesktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @else if $media == laptop {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
  @else if $media == xlarge {
    @media only screen and (max-width: 1600px) {
      @content;
    }
  }
  @else if $media == xxlarge {
    @media only screen and (min-width: 1601px) {
      @content;
    }
  }
}
