@mixin inputField($height: 2.5rem) {
  width: 100%;
  height: $height;
  color: $font-color;
  border-color: $input-border;
}

@mixin modalwidth($max-width: 62.5rem) {
  width: $max-width;
  height: 100%;
}

@mixin detailsgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  .lable {
    color: $gray;
  }
}

@mixin customScrollbar($width: 10px) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
    background-color: $white-blue;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $light-gray;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb {
    &:hover {
      background-color: $light-gray;
    }
  }
}

@mixin status-lable {
  padding: 00.188rem 0.625rem;
  background-color: $default-white;
  border-radius: 3.125rem;
  border: 0.063rem solid;
}
@mixin lable-color {
  @include status-lable;
  &.accepted { 
    border-color: $green;
    color: $green;
  }
  &.loading  {
    border-color: $brand-primary;
    color: $brand-primary;
  }
  &.dispatch {
    border-color: $purple;
    color: $purple;
  }
  &.exported  {
    border-color: $orange;
    color: $orange;
  }
  &.invoiced  {
    border-color: $green;
    color: $green;
  }
  &.none  {
    border-color: $gray;
    color: $gray;
  }
}





@mixin respond-to($media) {
  @if $media == mobileS {
    @media only screen and (max-width: 415px) {
      @content;
    }
  }

  @if $media == mobile {
    @media only screen and (max-width: 568px) {
      @content;
    }
  }
  @else if $media == phablet {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
  @else if $media == tabS {
    @media only screen and (max-width: 991px) {
      @content;
    }
  }
  @else if $media == tab {
    @media only screen and (max-width: 1023px) {
      @content;
    }
  }
  @else if $media == tabDektop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
  @else if $media == aboveTabDesktop {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  }
  @else if $media == desktop {
    @media only screen and (max-width: 900px) {
      @content;
    }
  }
  @else if $media == laptop {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }
  @else if $media == xlarge {
    @media only screen and (max-width: 1600px) {
      @content;
    }
  }
  @else if $media == xxlarge {
    @media only screen and (min-width: 1601px) {
      @content;
    }
  }
}
