$brand-primary: #338CE5;
$font-color: #000;

$default-white: #fff;
$default-black: #000;

$txt-highlight: $brand-primary;
$input-border: #DADCE0;
$form-label: #5F6368;

$btn-hover: #469CF1;
$btn-secondary: #C2C3C4;

$gray: #B3B5B8;

$light-gray: #DADCE0;
$off-white: #E9EBEF;

$blue: #B7DAFC;
$light-blue: #F4FAFF;
$white-blue: #F8F9FA;
$purple: #A433E5;
$orange: #F17B21;
$green: #4CB261;
$red: #E32E2E;
$required:#dc3545;
$light-primary: #B7DAFC;
$light-green: #CBF8D4;
$light-orange: #FFE6D4;





