<form [formGroup]='awbForm' (ngSubmit)="saveAWBDetails()">
    <div class="modal-body">
        <div class="row pb-4">
            <div>
                <h3>Shipper Information </h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Shipper Name<span class="compulsory">*</span></label>
                    <app-text-input [formControl]='awbForm.controls["shipperName"]' type="text" [label]='"shipper name"'>
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Shipper's Account Number</label>
                    <app-text-input [formControl]='awbForm.controls["shipperAccountNumber"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Shipper Address</label>
                    <app-text-input [formControl]='awbForm.controls["shipperAddress"]' type="text">
                    </app-text-input>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div>
                <h3>Consignee Information</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Consignee Name<span class="compulsory">*</span></label>
                    <app-text-input [formControl]='awbForm.controls["consigneeName"]' type="text" [label]='"consignee name"'>
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Consignee's Account Number</label>
                    <app-text-input [formControl]='awbForm.controls["consigneeAccountNumber"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Consignee Address</label>
                    <app-text-input [formControl]='awbForm.controls["consigneeAddress"]' type="text">
                    </app-text-input>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div>
                <h3>Issuing Carrier's Agent</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Carrier's Agent Name<span class="compulsory">*</span></label>
                    <app-text-input [formControl]='awbForm.controls["agentName"]' type="text" [label]='"carrier agent name"'>
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Carrier's Agent City</label>
                    <app-text-input [formControl]='awbForm.controls["agentCity"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Agent's AITA Code</label>
                    <app-text-input [formControl]='awbForm.controls["agentAITACode"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Account Number</label>
                    <app-text-input [formControl]='awbForm.controls["agentAccountNumber"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Accounting Information</label>
                    <app-text-input [formControl]='awbForm.controls["agentAccountInformation"]' type="text">
                    </app-text-input>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div>
                <h3>Flight Information</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Requested Routing</label>
                    <app-text-input [formControl]='awbForm.controls["requestedRouting"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Requested Flight Date</label>
                    <input type="text" [formControl]='awbForm.controls["requestedFlightDate"]' class="form-control" bsDatepicker>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Routing and Destination To</label>
                    <app-text-input [formControl]='awbForm.controls["routingAndDestinationTo"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Routing and Destination By</label>
                    <app-text-input [formControl]='awbForm.controls["routingAndDestinationBy"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Airport Destination</label>
                    <app-auto-complete-dropdown [data]="destinationAirpots" [keyword]="keyword" [selectedIndex]="destinationAirportIndex"
                            (selectFileOutput)="selectedDestination($event)" (clearSearch)="onClearDestination()"></app-auto-complete-dropdown>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div>
                <h3>Optional Shipping Information</h3>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Reference Number</label>
                    <app-text-input [formControl]='awbForm.controls["shippingReferenceNumber"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Currency</label>
                    <app-text-input [formControl]='awbForm.controls["currency"]' type="text">
                    </app-text-input>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label">Declared Value for Carriage</label>
                    <input type="textbox" class="form-control" [formControl]='awbForm.controls["declaredValueForCarriage"]' appTwoDigitDecimaNumber/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Declared Value for Customer</label>
                    <input type="textbox" class="form-control" [formControl]='awbForm.controls["declaredValueForCustomer"]' appTwoDigitDecimaNumber/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Amount of Insurance</label>
                    <input type="textbox" class="form-control" [formControl]='awbForm.controls["amountOfInsurance"]' appTwoDigitDecimaNumber/>
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div>
                <h3>Rate Information</h3>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label">Rate Charge</label>
                    <input type="textbox" class="form-control" [formControl]='awbForm.controls["rateCharge"]' appTwoDigitDecimaNumber/>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="form-label">Nature and Quality of Goods</label>
                    <app-text-input [formControl]='awbForm.controls["natureAndQualityOfGoods"]' type="text">
                    </app-text-input>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-secondary me-3" (click)="closeModal()" type="button">Cancel</button>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>