<div class="main-card">
    <div class="card-header px-0 pt-0">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <h1>Rate View</h1>
            </div>
        </div>
    </div>
    <div class="card-body without-footer">
        <div class="d-flex justify-content-between align-items-center">
            <div class="filter-wrapper">
                <div class="filter-group">
                    <label class="form-label">Origin</label>
                    <app-auto-complete-dropdown [data]="originAirpots" [keyword]="keyword"
                        (selectFileOutput)="selectedOrigin($event)" (changeSearch)="onClearOrigin()"
                        (clearSearch)="onClearOrigin()"></app-auto-complete-dropdown>
                </div>
                <div class="filter-group">
                    <label class="form-label">Destination</label>
                    <app-auto-complete-dropdown [data]="destinationAirpots" [keyword]="keyword"
                        (selectFileOutput)="selectedDestination($event)" (changeSearch)="onClearDestination()"
                        (clearSearch)="onClearDestination()"></app-auto-complete-dropdown>
                </div>
                <div class="button"><button (click)="getRateList()" class="btn sm btn-primary-outline">Add
                        Filter</button></div>
            </div>
        </div>
        <div *ngIf="!isLoading" class="table-content">
            <table class="table table-responsive">
                <thead>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>M</th>
                    <th>-45K</th>
                    <th>+45K</th>
                    <th>+100K</th>
                    <th>+300K</th>
                    <th>+500K</th>
                    <th>+1000K</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.agentRateList">
                        <td>{{item.originAirportCode}}</td>
                        <td>{{item.destinationAirportCode}}</td>
                        <td *ngFor="let rateItem of item.agentRates">{{rateItem.rate}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="not-available" *ngIf="totalCount == 0">
                <img src="./assets/images/no-data.png" alt="No Content Data">
                <div>Rates not available.</div>
            </div>
            <div class="d-flex align-items-center justify-content-center" *ngIf="totalCount > 0">
                <app-pager [pageSize]="cargoRateFilterQuery?.pageSize" [pageNumber]="cargoRateFilterQuery?.pageIndex"
                    [totalCount]="totalCount" (pageChanged)="onPageChanged($event)"></app-pager>
                <app-paging-header [totalCount]="totalCount" [pageSize]="cargoRateFilterQuery?.pageSize"
                    [pageNumber]="cargoRateFilterQuery?.pageIndex"></app-paging-header>
            </div>
        </div>
        <app-table-loader [columnCount]="4" [rowCount]="cargoRateFilterQuery.pageSize" *ngIf="isLoading">
        </app-table-loader>
    </div>
</div>