<div>
    <div class="searsh-bar">
        <div class="input-group">
            <input class="form-control border rounded-pill" type="search" value="search" id="example-search-input">
        </div>
    </div>
    <div class="user-list-container" *ngFor="let conversation of this.currentUserConversations; let i = index;">
        <div class="user-list" *ngIf="conversation?.messages?.length > 0" (click)="popupMessage(conversation)">
            <div [ngClass]="{'bg-a': i%3==0, 'bg-b' : i%3==1, 'bg-c' : i%3==2  }" class="user-img">{{getFirstLetters(conversation.messages[conversation?.messages?.length-1].auther)| uppercase}}</div>
            <div class="user-data">
                <div class="user-info">
                    <div class="text-truncate">{{conversation.messages[conversation?.messages?.length-1]?.auther}}</div>
                    <h3>{{conversation?.messages[conversation?.messages?.length-1]?.body}}</h3>
                </div>
                <div class="status">
                    <div><small>{{conversation?.messages[conversation?.messages?.length-1]?.created | date :'short'}}</small></div>
                    <div class="chat-count"><small>{{conversation?.messages?.length}}</small></div>
                </div>
            </div>
        </div>
    </div>
</div>


