<div>
    <div class="searsh-bar">
        <div class="input-group">
            <input class="form-control border rounded-pill" type="search" value="search" id="example-search-input">
        </div>
    </div>
    <div class="user-list-container">
        <div class="user-list">
            <div class="user-img bg-a">NC</div>
            <div class="user-data">
                <div class="user-info">
                    <div class="text-truncate">Nercindo Chaves</div>
                    <h3>Sure, that's no problem</h3>
                </div>
                <div class="status">
                    <div><small>10.45</small></div>
                    <div class="chat-count"><small>5</small></div>
                </div>
            </div>
        </div>
    </div>
    <div class="user-list-container">
        <div class="user-list">
            <div class="user-img bg-b">DJ</div>
            <div class="user-data">
                <div class="user-info">
                    <div class="text-truncate">Dans Jayawardena</div>
                    <h3>Hi, What are the time limitations for booking online?</h3>
                </div>
                <div class="status">
                    <div><small>Yesterday</small></div>
                    <!-- <div class="chat-count"><small>5</small></div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="user-list-container">
        <div class="user-list">
            <div class="user-img bg-c">DM</div>
            <div class="user-data">
                <div class="user-info">
                    <div class="text-truncate">David Mamprit</div>
                    <h3>I am Dave, an Independent Advisor</h3>
                </div>
                <div class="status">
                    <div><small>Yesterday</small></div>
                    <!-- <div class="chat-count"><small>5</small></div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div>
  <input type="text" (keyup.enter)="sendMsg($event.target.value)"/>
</div>
