<div class="main-card">
    <div class="card-header px-0 pt-0">
        <h1>Add New Booking</h1>
    </div>
    <div class="card-body without-footer">
        <div>
            <h3>Check Flight Availability</h3>
        </div>
        <div class="second-box flight-av">
            <div class="filter-block">
                <div class="row">
                    <form [formGroup]="bookingForm" (ngSubmit)="submit()">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Origin</label>
                                    <app-auto-complete-dropdown [data]="originAirpots" [keyword]="keyword"
                                        (selectFileOutput)="selectedOrigin($event)" (clearSearch)="onClearOrigin()" (changeSearch)="onChangeOrigin()"></app-auto-complete-dropdown>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Destination</label>
                                    <app-auto-complete-dropdown [data]="destinationAirpots" [keyword]="keyword"
                                        (selectFileOutput)="selectedDestination($event)" (clearSearch)="onClearDestination()" (changeSearch)="onChangeDestination()"></app-auto-complete-dropdown>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label">Flight Date</label>
                                    <input type="text" formControlName="scheduledDepartureDateTime" placeholder="Date"
                                        class="form-control" bsDatepicker>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group filter-btn">
                                    <button class="btn btn-primary-outline" type="submit">Find</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="second-box">
            <div class="legend">
                <div><label class="value-label">Legend (L x W x H): </label></div>
                <div><label class="value">Over Head - 56 x 36 x 23 (Container) </label></div>
                <div><label class="value">On One Seat - 45 x 45 x 60 (Container) </label></div>
                <div><label class="value">On Three Seats - 140 x 45 x 60 (Container) </label></div>
                <div><label class="value">Under the Seat - 56 x 24 x 23 (Container) </label></div>
            </div>
        </div>
        <div class="flight-availability">
            <div class="second-card" *ngFor="let flightScheduleSector of this.flightScheduleSectors">
                <app-p2c-booking-search-item *ngIf="flightScheduleSector.aircraftConfigType == aircraftConfigType.P2C || flightScheduleSector.aircraftConfigType == aircraftConfigType.None" [flightScheduleSector]="flightScheduleSector" [flightScheduleSectorId]="flightScheduleSectorId" (setCurrentSchedule)="setCurrentScheduleSector()"></app-p2c-booking-search-item>   
                <app-freighter-booking-search-item *ngIf="flightScheduleSector.aircraftConfigType == aircraftConfigType.Freighter" [flightScheduleSector]="flightScheduleSector" [flightScheduleSectorId]="flightScheduleSectorId" (setCurrentSchedule)="setCurrentScheduleSector()"></app-freighter-booking-search-item>             
            </div>
        </div>
        <div class="not-available" *ngIf="totalCount == 0 && !showLoader">
            <img src="./assets/images/no-data.png" alt="No Content Data">
            <div>Flight not available.</div>
        </div> 
        <div class="modal-body" *ngIf="showLoader">
            <app-loader-flight [loaderImageSize] = "3"></app-loader-flight>
        </div>
    </div>
</div>
