@font-face {
  font-family: 'cargo-icons';
  src:  url('../fonts/cargo-icons.eot?i5x99l');
  src:  url('../fonts/cargo-icons.eot?i5x99l#iefix') format('embedded-opentype'),
    url('../fonts/cargo-icons.ttf?i5x99l') format('truetype'),
    url('../fonts/cargo-icons.woff?i5x99l') format('woff'),
    url('../fonts/cargo-icons.svg?i5x99l#cargo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ca-icn-"], [class*=" ca-icn-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cargo-icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ca-icn-chat:before {
  content: "\e928";
}
.ca-icn-down-arrow:before {
  content: "\e929";
}
.ca-icn-up-arrow:before {
  content: "\e92a";
}
.ca-icn-active-user:before {
  content: "\e926";
}
.ca-icn-suspend:before {
  content: "\e927";
}
.ca-icn-fil-arrow-left:before {
  content: "\e924";
}
.ca-icn-fil-arrow-right:before {
  content: "\e925";
}
.ca-icn-assign-aircraft:before {
  content: "\e922";
}
.ca-icn-main-schedule:before {
  content: "\e923";
}
.ca-icn-pallet:before {
  content: "\e921";
}
.ca-icn-add:before {
  content: "\e900";
}
.ca-icn-aircraft:before {
  content: "\e901";
}
.ca-icn-airport:before {
  content: "\e902";
}
.ca-icn-arrow-dwon:before {
  content: "\e903";
}
.ca-icn-arrow-up:before {
  content: "\e904";
}
.ca-icn-awb:before {
  content: "\e905";
}
.ca-icn-bell:before {
  content: "\e906";
}
.ca-icn-bin:before {
  content: "\e907";
}
.ca-icn-booking:before {
  content: "\e908";
}
.ca-icn-close:before {
  content: "\e909";
}
.ca-icn-dashboard:before {
  content: "\e90a";
}
.ca-icn-document:before {
  content: "\e90b";
}
.ca-icn-dollar:before {
  content: "\e90c";
}
.ca-icn-edit:before {
  content: "\e90d";
}
.ca-icn-flight:before {
  content: "\e90e";
}
.ca-icn-flight-schedule:before {
  content: "\e90f";
}
.ca-icn-left-arrow:before {
  content: "\e910";
}
.ca-icn-left-arrow-dash:before {
  content: "\e911";
}
.ca-icn-logout:before {
  content: "\e912";
}
.ca-icn-print:before {
  content: "\e913";
}
.ca-icn-profile:before {
  content: "\e914";
}
.ca-icn-right-arrow:before {
  content: "\e915";
}
.ca-icn-route:before {
  content: "\e916";
}
.ca-icn-scan:before {
  content: "\e917";
}
.ca-icn-schedule:before {
  content: "\e918";
}
.ca-icn-sector:before {
  content: "\e919";
}
.ca-icn-settings:before {
  content: "\e91a";
}
.ca-icn-shutdown:before {
  content: "\e91b";
}
.ca-icn-translate:before {
  content: "\e91c";
}
.ca-icn-verify:before {
  content: "\e91d";
}
.ca-icn-verify-document:before {
  content: "\e91e";
}
.ca-icn-view:before {
  content: "\e91f";
}
.ca-icn-view-eye:before {
  content: "\e920";
}