<!-- <div class="user-list-container" *ngFor="let msg of this.currentUserConversation?.messages">
  <div class="user-list" *ngIf="msg">
      <div class="user-img bg-a">
        {{getFirstLetters(msg?.auther)| uppercase}}</div>
      <div class="user-data">
          <div class="user-info">
              <div class="text-truncate">{{msg?.auther}}</div>
              <h3>{{msg?.body}}</h3>
          </div>
          <div class="status">
              <div><small>{{msg?.created | timeAgoPipe}}</small></div>
          </div>
      </div>
  </div>
</div> -->
<div class="conversations">
  <div class="chat-section">
    <div class="back-button"><i class="ca ca-icn-left-arrow-dash"></i></div>
    <div class="user-list-container">
      <div class="user-list">
        <div class="user-img bg-a">ME</div>
        <div class="user-data">
          <div class="user-info">
            <h3>Mekar</h3>
            <small>Online</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="conversations-box">
    <div class="chat-post chat-in">
      <span>Hi, What are the time limitations for booking online?</span>
      <span class="chat-spacer"></span>
      <div class="date-time">10:42</div>
    </div>
    <div class="chat-post chat-out">
      <span>Using real time payment, you can book your flight online up to 6 hours before the scheduled departure time of your flight. Save time at the airport with our web check in facility right from home. You can book your flight online up to 6 hours before the scheduled departure time of your flight.</span>
      <span class="chat-spacer"></span>
      <div class="date-time">10:50</div>
    </div>
  </div>
  <div class="send-text">
    <div class="form-group">
      <input class="form-control" type="text" (keyup.enter)="sendMsg($event.target.value)" placeholder="Type here" [(ngModel)]="chatbox" name="chatbox"/>
    </div>
    <div class="send-button">
      <span><i class="ca ca-icn-fil-arrow-right"></i></span>
    </div>
  </div>
</div>


