<div class="menu-container" [ngClass]="{ 'collapseActive':showCollapseMenu,'collapseDeactive':!showCollapseMenu}">
    <div class="main-container">
        <div class="logo-wrapper" (click)="menuClickEvent(0)">
            <img src="/assets/images/white-logo.svg" />
        </div>
        <div class="logo-wrapper-s" (click)="menuClickEvent(0)">
            <img src="/assets/images/logo-icons.svg" />
        </div>
        <div class="menu-scroller">
            <ul class="main-menu">
                <li>
                    <div class="menu-item" (click)="menuClickEvent(1)" [ngClass]="{'selected': selectedMenu == 1}">
                        <!-- <div class="icon"></div> -->
                        <span class="menu-icn ca ca-icn-dashboard tool-tip"><span class="tooltiptext">Dashboard</span></span>
                        <span class="menu-title">Dashboard</span>
                    </div>
                </li>
                <li>
                    <div class="menu-item" (click)="menuClickEvent(2)" [ngClass]="{'selected': selectedMenu == 2}">
                        <!-- <div class="icon"></div> -->
                        <span class="menu-icn ca ca-icn-booking tool-tip"><span class="tooltiptext">Manage Booking</span></span>
                        <span class="menu-title">Manage Booking</span>
                    </div>
                </li>
                <li>
                    <div class="menu-item" (click)="menuClickEvent(3)" [ngClass]="{'selected': selectedMenu == 3}">
                        <!-- <div class="icon"></div> -->
                        <span class="menu-icn ca ca-icn-flight-schedule tool-tip"><span class="tooltiptext">Booking View</span></span>
                        <span class="menu-title">Booking View</span>
                    </div>
                </li>
                <li>
                    <div class="menu-item" (click)="menuClickEvent(4)" [ngClass]="{'selected': selectedMenu == 4}">
                        <!-- <div class="icon"></div> -->
                        <span class="menu-icn ca ca-icn-dollar tool-tip"><span class="tooltiptext">Rate View</span></span>
                        <span class="menu-title">Rate View</span>
                    </div>
                </li>
                <li>
                    <div class="menu-item" (click)="menuClickEvent(5)" [ngClass]="{'selected': selectedMenu == 5}">
                        <!-- <div class="icon"></div> -->
                        <span class="menu-icn ca ca-icn-awb tool-tip"><span class="tooltiptext">Track AWB</span></span>
                        <span class="menu-title">Track AWB</span>
                    </div>
                </li>
                <li>
                    <div class="menu-item" (click)="menuClickEvent(6)" [ngClass]="{'selected': selectedMenu == 6}">
                        <!-- <div class="icon"></div> -->
                        <span class="menu-icn ca ca-icn-bell tool-tip"><span class="tooltiptext">Notifications</span></span>
                        <span class="menu-title">Notifications</span>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <div>
        <div class="profile-pic" (click)="profileClick()">
            <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
        </div>
        <div class="profile-card" *ngIf="showProfileCard">
            <div class="pro-pic">
                <div class="pro-img"><img src="/assets/images/profile-img.png"></div>
            </div>
            <div class="name">{{currentUser?.fullName}}</div>
            <div class="email">{{currentUser?.email}}</div>
            <div class="actions">
                <span class="ca ca-icn-settings" title="Settings" (click)="settings()"></span>
                <span class="ca ca-icn-edit" title="Edit" (click)="edit()"></span>
                <span class="ca ca-icn-shutdown" title="Sign Out" (click)="signOut()"></span>
            </div>
        </div>
    </div>
</div>

