<div class="container-fluid p-0">
    <div class="login-wrapper">
      <div class="login-container">
        <div class="login-left">
          <div class="content-left">
            <div class="logo">
              <img src="/assets/images/logo.svg"/>
            </div>
            <div class="welcome">
              <h1 class="font-600">Welcome Back!</h1>
              <p>To keep contacted with us please login or create new account.</p>
            </div>
          </div>
          <div class="footer">
            <div>© 2022 Aero Club Solutions INC. All rights reserved.</div>
          </div>
        </div>
        <div class="login-right-wrapper">
          <!-- <div class="lan-translate">
            <div>Translate</div>
          </div> -->
          <div class="login-info">
            <div class="greeting-text">
              <h1 class="font-600">Hello,</h1>
              <p>Enter your login details and start journey with us</p>
            </div>
            <div class="login-form">
              <form [formGroup]='loginForm'  (ngSubmit)="login()">
                <div class="form-group">
                  <label class="form-label">Username</label>
                  <app-white-space-input [formControl]='loginForm.controls["username"]' [label]='"username"' [tabindex] ="1">
                  </app-white-space-input>
                </div>
                <div class="form-group">
                  <label class="form-label">Password</label>
                  <app-white-space-input [formControl]='loginForm.controls["password"]' [type]="'password'" [label]='"password"' [tabindex] ="2">
                  </app-white-space-input>
                </div>
                <div class="form-group forgot-password">
                  <div class="cu-check">
                    <label class="cu-checkbox">Remember me
                      <input [formControl]='loginForm.controls["rememberMe"]' type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div>
                    <a href="#">Forgot Password?</a>
                  </div>
                </div>
                <div class="form-group forgot-password">
                  <div>
                    <a href="account/registration">Create Account</a>
                  </div>
                  <div>
                    <button class="btn btn-primary-outline" type="submit">Sign In</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


