<div class="card-details" [ngClass]="{'selected': flightSchedule.id == flightScheduleSectorId}">
    <div class="op-count">Option<span class="op-number">{{elementIndex}}</span></div>
    <div class="card-row">
        <div class="label">Flight Number</div>
        <div class="value">{{flightSchedule.flightNumber}}</div>
    </div>
    <div class="card-row">
        <div class="label">Origin and Destination</div>
        <div class="value chip"><span>{{flightSchedule.originAirportCode}}</span><i
                class="ca ca-icn-flight"></i><span>{{flightSchedule.destinationAirportCode}}</span>
        </div>
    </div>
    <div class="card-row">
        <div class="label">Acceptance Cutoff Time</div>
        <div class="value">{{flightSchedule.acceptanceCutoffTime| date:'shortTime'}}</div>
    </div>
    <div class="card-row">
        <div class="label">Booking Cutoff Time</div>
        <div class="value">{{flightSchedule.bookingCutoffTime| date:'shortTime'}}</div>
    </div>
    <div class="card-row">
        <div class="label">Date and Time</div>
        <div class="value">{{flightSchedule.scheduledDepartureDateTime | date:'dd/MM/yyyy hh:mm
            aa'}}</div>
    </div>
    <div class="card-row card-subtitle">Available Cargo Space</div>
    <div class="card-row"
        *ngFor="let position of flightSchedule.flightScheduleSectorCargoPositions">
        <div class="label">{{getAvailableCargoSpace(+position.cargoPositionType)}}</div>
        <div class="value">{{position.availableSpaceCount}}</div>
    </div>
    <div class="card-button">
        <button class="btn btn-primary-outline" [disabled]="!validateSpace(flightSchedule)"
            (click)="goToBookingCreate(flightSchedule)">Next</button>
    </div>
</div>
