<div class="card-details" [ngClass]="{'selected': flightScheduleSector.id == flightScheduleSectorId}">
    <div class="card-row card-subtitle">{{"Option "+elementIndex}}</div>
    <div class="card-row">
        <div class="label">Flight Number</div>
        <div class="value">{{flightScheduleSector.flightNumber}}</div>
    </div>
    <div class="card-row">
        <div class="label">Origin and Destination</div>
        <div class="value chip"><span>{{flightScheduleSector.originAirportCode}}</span><i
                class="ca ca-icn-flight"></i><span>{{flightScheduleSector.destinationAirportCode}}</span>
        </div>
    </div>
    <div class="card-row">
        <div class="label">Acceptance Cutoff Time</div>
        <div class="value">{{flightScheduleSector.acceptanceCutoffTime| date:'shortTime'}}</div>
    </div>
    <div class="card-row">
        <div class="label">Booking Cutoff Time</div>
        <div class="value">{{flightScheduleSector.bookingCutoffTime| date:'shortTime'}}</div>
    </div>
    <div class="card-row">
        <div class="label">Date and Time</div>
        <div class="value">{{flightScheduleSector.scheduledDepartureDateTime | date:'dd/MM/yyyy hh:mm
            aa'}}</div>
    </div>
    <div class="card-row card-subtitle">Available Cargo Space</div>
    <div class="card-row"
        *ngFor="let position of flightScheduleSector.flightScheduleSectorCargoPositions">
        <div class="label">{{getAvailableCargoSpace(+position.cargoPositionType)}}</div>
        <div class="value">{{position.availableSpaceCount}}</div>
    </div>
    <div class="card-button">
        <button class="btn btn-primary-outline" [disabled]="!validateSpace(flightScheduleSector)"
            (click)="goToBookingCreate(flightScheduleSector)">Next</button>
    </div>
</div>
