<div class="row">
    <div class="col-md-12">
        <div class="details">
            <details open>
                <summary>Booking Information</summary>
                <div class="card-details">
                    <div class="details-group">
                        <div class="lable">Booking ID</div>
                        <div>{{cargoBookingDetail?.bookingNumber}}</div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Booking Date</div>
                        <div>{{cargoBookingDetail?.bookingDate | date}}</div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Status</div>
                        <div>
                            <span class="status-chip" [ngClass]="{
                            'none':cargoBookingDetail?.bookingStatus == bookingStatus.None,
                            'pending': cargoBookingDetail?.bookingStatus == bookingStatus.Pending,
                            'dispatch':cargoBookingDetail?.bookingStatus == bookingStatus.Dispatched,
                            'invoiced':cargoBookingDetail?.bookingStatus == bookingStatus.Invoiced,
                            'accepted':cargoBookingDetail?.bookingStatus == bookingStatus.Accepted,
                            'loading':cargoBookingDetail?.bookingStatus == bookingStatus.Loading,
                            'exported':cargoBookingDetail?.bookingStatus == bookingStatus.Exported
                        }">{{getBookingStatus(cargoBookingDetail?.bookingStatus)}}</span>
                        </div>
                    </div>
                </div>
            </details>
        </div>
        <div class="details">
            <details>
                <summary>Flight Details</summary>
                <div class="card-details">
                    <div class="details-group">
                        <div class="lable">Flight Number</div>
                        <div>{{cargoBookingDetail?.flightScheduleSector.flightNumber}}</div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Origin and Destination</div>
                        <div><span
                                class="status-chip accepted">{{cargoBookingDetail?.flightScheduleSector.originAirportCode
                                +" - "+ cargoBookingDetail?.flightScheduleSector.destinationAirportCode}}</span></div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Cargo Acceptance Cutoff Time</div>
                        <div>{{cargoBookingDetail?.flightScheduleSector.scheduledDepartureDateTime | date : 'h:mm a'}}
                        </div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Cargo Booking Cutoff Time</div>
                        <div>{{cargoBookingDetail?.flightScheduleSector.scheduledDepartureDateTime | date : 'h:mm a'}}
                        </div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Flight Date</div>
                        <div>{{cargoBookingDetail?.flightScheduleSector.scheduledDepartureDateTime | date : 'M/d/yyyy'}}
                        </div>
                    </div>
                    <div class="details-group">
                        <div class="lable">Flight Time</div>
                        <div>{{cargoBookingDetail?.flightScheduleSector.scheduledDepartureDateTime | date : 'h:mm a'}}
                        </div>
                    </div>

                </div>
            </details>
        </div>
        <div class="details">
            <details>
                <summary>AWB Details</summary>
                <div class="card-details">
                    <!-- Add code -->
                </div>
            </details>
        </div>

        <div class="row">
            <h3 class="section-title">Package Details</h3>
            <div class="details sub-collapse">
                <details *ngFor="let package of this.cargoBookingDetail?.packageItems">
                    <summary>Package Number:<span>{{package.packageRefNumber}}</span></summary>
                    <div class="card-details">
                        <div class="details-group pt-0">
                            <div class="lable">AWB Tracking Number</div>
                            <div>{{ GetFormattedAWBNumber(package.awbTrackingNumber)}}</div>
                        </div>
                        <div class="details-group">
                            <div class="lable">Width</div>
                            <div>{{package.width+" cm"}}</div>
                        </div>
                        <div class="details-group">
                            <div class="lable">Height</div>
                            <div>{{package.height+" cm"}}</div>
                        </div>
                        <div class="details-group">
                            <div class="lable">Length</div>
                            <div>{{package.length+" cm"}}</div>
                        </div>
                        <div class="details-group">
                            <div class="lable">Weight</div>
                            <div>{{package.weight+" kg"}}</div>
                        </div>
                        <div class="details-group">
                            <div class="lable">Description</div>
                            <div>{{package.description}}</div>
                        </div>
                        <div class="awb-section">
                            <div class="awb-details">
                                <div class="d-flex align-items-center">
                                    <div>AWB Details</div>
                                    <span class="awb-status-chip ms-3" [ngClass]="{
                                        'none':package?.packageItemStatus == packageItemStatus.None,
                                        'added':package?.packageItemStatus == packageItemStatus.AddedAWB,  
                                        'pending':package?.packageItemStatus == packageItemStatus.Pending  
                                    }">{{getPackageStatus(package?.packageItemStatus)}}
                                    </span>
                                </div>
                                <div>
                                    <span class="pe-4" [ngClass]="{'edit disabled' : package?.packageItemStatus == packageItemStatus.Pending,
                                    'edit active':package?.packageItemStatus != packageItemStatus.Pending}"><i
                                            class="ca ca-icn-edit" title="Edit"
                                            (click)="(package?.packageItemStatus != packageItemStatus.Pending)?editAWB(package):false"></i></span>

                                    <span [ngClass]="{'add active' : package?.packageItemStatus == packageItemStatus.Pending,
                                    'add disabled':package?.packageItemStatus != packageItemStatus.Pending}"><i
                                            class="ca ca-icn-add" title="Add"
                                            (click)="(package?.packageItemStatus == packageItemStatus.Pending)?addAWB(package):false"></i></span>
                                </div>
                            </div>
                            <div *ngIf="package.awbInformation != null">
                                <div class="details-group">
                                    <div class="lable">Shipper Name</div>
                                    <div>{{(package.awbInformation.shipperName!=
                                        null)?package.awbInformation.shipperName:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Shipper's Account Number</div>
                                    <div>{{(package.awbInformation.shipperAccountNumber!=
                                        null)?package.awbInformation.shipperAccountNumber:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Shipper Address</div>
                                    <div>{{(package.awbInformation.shipperAddress!=
                                        null)?package.awbInformation.shipperAddress:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Consignee Name</div>
                                    <div>{{(package.awbInformation.consigneeName!=
                                        null)?package.awbInformation.consigneeName:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Consignee's Account Number</div>
                                    <div>{{(package.awbInformation.consigneeAccountNumber!=
                                        null)?package.awbInformation.consigneeAccountNumber:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Consignee Address</div>
                                    <div>{{(package.awbInformation.consigneeAddress!=
                                        null)?package.awbInformation.consigneeAddress:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Carrier's Agent Name</div>
                                    <div>{{(package.awbInformation.agentName!=
                                        null)?package.awbInformation.agentName:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Carrier's Agent City</div>
                                    <div>{{(package.awbInformation.agentCity!=
                                        null)?package.awbInformation.agentCity:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Agent's AITA Code</div>
                                    <div>{{(package.awbInformation.agentAITACode!=
                                        null)?package.awbInformation.agentAITACode:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Account Number</div>
                                    <div>{{(package.awbInformation.agentAccountNumber!=
                                        null)?package.awbInformation.agentAccountNumber:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Accounting Information</div>
                                    <div>{{(package.awbInformation.agentAccountInformation!=
                                        null)?package.awbInformation.agentAccountInformation:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Requested Routing</div>
                                    <div>{{(package.awbInformation.requestedRouting!=
                                        null)?package.awbInformation.requestedRouting:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Requested Flight Date</div>
                                    <div>{{package.awbInformation.requestedFlightDate | date : 'M/d/yyyy'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Routing and Destination To</div>
                                    <div>{{(package.awbInformation.routingAndDestinationTo!=
                                        null)?package.awbInformation.routingAndDestinationTo:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Routing and Destination By</div>
                                    <div>{{(package.awbInformation.routingAndDestinationBy!=
                                        null)?package.awbInformation.routingAndDestinationBy:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Airport Destination</div>
                                    <div>{{(package.awbInformation.destinationAirportCode!=
                                        null)?package.awbInformation.destinationAirportCode:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Reference Number</div>
                                    <div>{{(package.awbInformation.shippingReferenceNumber!=
                                        null)?package.awbInformation.shippingReferenceNumber:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Currency</div>
                                    <div>{{(package.awbInformation.currency!=
                                        null)?package.awbInformation.currency:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Declared Value for Carriage</div>
                                    <div>{{(package.awbInformation.declaredValueForCarriage !=
                                        0)?package.awbInformation.declaredValueForCarriage:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Declared Value for Customer</div>
                                    <div>{{(package.awbInformation.declaredValueForCustomer !=
                                        0)?package.awbInformation.declaredValueForCustomer:'-'}}</div>
                                </div>
                                <div class="details-group">
                                    <div class="lable">Amount Of Insurance</div>
                                    <div>{{(package.awbInformation.amountOfInsurance !=
                                        0)?package.awbInformation.amountOfInsurance:'-'}}</div>
                                </div>
                                <div class="pt-3">
                                    <div class="details-group">
                                        <div class="lable">Product List</div>
                                    </div>
                                    <div class="table-content">
                                        <table class="table table-responsive">
                                            <thead>
                                                <th>Product ID</th>
                                                <th>Product Name</th>
                                                <th>Product Type</th>
                                                <th>Quantity</th>
                                                <th></th>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of package.awbInformation.packageProducts">
                                                    <td>{{product.productRefNumber}}</td>
                                                    <td>{{product.productName}}</td>
                                                    <td>{{getAWBProductType(product.productType)}}</td>
                                                    <td>{{product.quantity}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>


<div class="modal fade right" tabindex="-1" [ngClass]="{'in': modalVisibleAnimate}"
    [ngStyle]="{'display': modalVisible ? 'block' : 'none', 'opacity': modalVisibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-lg modal-dialog-m modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Cargo Reference Information</h2>
                <button type="button" class="close btn" data-dismiss="modal" (click)="closeAWBForm()" aria-label="Close"><span
                        class="ca ca-icn-close"></span></button>
            </div>
            <div>
                <app-awb-create [awbModel]="awbModel" (submitDetail)="submitAWBDetail($event)"
                    (closePopup)="closeAWBForm()" *ngIf="modalVisible"></app-awb-create>
            </div>
        </div>
    </div>
</div>